body {
  font-family: Arial;
  padding: 20px;
}

table td {
  border: 1px solid black;
  padding: 30px;
  cursor: pointer;
  text-align: center;
  width: 150px;
  height: 80px;
  background-color: #c6e2ff;
}

td:hover {
  background-color: #87cefa;
}

#info {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
}
